/*mobile first*/

footer {
	display: flex;
	flex-direction: column;
	align-items: right;
	position: relative;
	z-index: 20;
	margin-bottom: 60px;
	font-family: "Chivo Mono", monospace;
	bottom: 0;
	width: 100%;
	padding: 15px 40px 40px;
	@media (min-width: 1200px) {
		position: fixed;
		margin-bottom: 0;
	}
	ul {
		padding-top: 0;
		padding-right: 0;
		li {
			font-size: 18px;
			font-weight: 200;
		}
		li:hover {
			font-weight: 800;
		}
	}

	.work-open-close {
		display: none;
	}
}

body.work-open-open {
	footer {
		display: flex;
		@media (min-width: 1200px) {
			padding-bottom: 62px;
		}
		div:first-child {
			position: relative;
		}
		div {
			ul.work-open-close {
				display: block;
				padding-left: 0;
				li a {
					@include titles-pages;
					text-transform: uppercase;
				}
			}
			ul.main-menu {
				li {
					color: #b8b8b8;
					&:nth-child(2) {
						position: absolute;
						bottom: -18px;
					}
					&:nth-child(3) {
						position: absolute;
						bottom: -35px;
					}
					&:nth-child(4) {
						position: absolute;
						bottom: -52px;
						color: black;
					}
				}

				li:first-child {
					color: black;
					font-weight: bold;
				}
			}
		}
	}
}
body.page-exhibitions {
	footer {
		@media (min-width: 1200px) {
			position: relative;
		}
	}
}
body.page-publications {
	footer {
		position: fixed;
		margin-top: 40px;
		margin-bottom: 0;
		@media (min-width: 1200px) {
			position: fixed;
		}

	}
	&.work-open-open {
		footer {
			position: relative;
		}
	}

	&.book-body-open {
		footer {
			position: relative;
		}
	}
}
