/*mobile first*/
footer {
	font-family: "Chivo Mono", monospace;
	ul {
		padding: 40px;
		padding-top: 0;
		li {
			font-size: 18px;
			font-weight: 200;
		}
		li:hover {
			font-weight: 800;
		}
	}
}
