/*mobile first*/
footer {
	font-family: "Chivo Mono", monospace;
	position: relative;
	bottom: 0;
	width: 100%;
	padding: 15px 40px 40px;
	.logo-x {
		width: 14px;
	}
	ul {
		padding-top: 0;
		padding-right: 0;
		li {
			font-size: 18px;
			font-weight: 200;
		}
		li:hover {
			font-weight: 800;
		}
	}

	.work-open-close {
		display: none;
	}
	div.media-div {
		display: none;
	}
}
body.page-home {
	footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: fixed;
		z-index: 20;
		div.media-div {
			display: block;
			ul.ul-mail {
				padding-bottom: 3px;
				text-transform: uppercase;
				padding-left: 0;
				a {
					font-size: 15px;
				}
			}
			ul.ul-social {
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				padding-left: 0;
				li {
					a {
						img {
							vertical-align: bottom;
						}
					}
				}
			}
		}
	}
}

body.work-open-open {
	footer {
		display: flex;
		align-items: self-end;
		ul.work-open-close {
			display: block;
			padding-left: 0;
			li a {
				@include titles-pages;
				text-transform: uppercase;
			}
		}
		ul.main-menu {
			li {
				color: #b8b8b8;
			}

			li:first-child {
				color: black;
				font-weight: bold;
			}
		}
	}
}

body.page-publications {
	footer {
		position: fixed;
		margin-top: 40px;
		@media (min-width: 1200px) {
			position: fixed;
		}
	}

	&.book-body-open {
		footer {
			position: relative;
		}
	}
}
