header {
    &.main-theme-header {
        height: 60px;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        background-color: #000;
        color: #fff;

        .inner-container {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 16px;

            ul {
                display: flex;
                align-items: flex-end;

                li {
                    &.current-menu-item,
                    &:hover {
                        font-weight: 700;
                    }
                }
            }

            #menu-header {
                display: none;
            }

            #hamburger-menu-toggler {
                border-style: none;
                background-color: transparent;
                outline: none;
                cursor: pointer;
                height: 14px;
                width: 28px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                margin: 0;

                @include media-desktop {
                    display: none;
                }

                .bar {
                    background-color: #fff;
                    height: 2px;
                    width: 100%;
                    opacity: 1;
                    transition: all 0.3s ease-in-out;
                    -webkit-transition: all 0.3s ease-in-out;
                }
            }

            #hamburger-menu-container {
                display: none;
            }

            #menu-hamburger {
                height: 100%;

                ul {
                    text-align: right;
                    height: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    flex-direction: column;

                    @include media-tablet {
                        font-size: 18px;
                    }
                }
            }
        }

        @include media-desktop {
            .inner-container {
                #menu-header {
                    display: block;

                    ul {
                        align-items: center;

                        li.menu-item {
                            margin: 0 24px;
                        }
                    }
                }
            }
        }
    }
}
