/* 
    Styles for Single
*/

body.single {
    main {
        section.section-product {
            @media (min-width: 1200px) {
                position: relative;

                article.zoom-in {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 340px;
                    padding: 10px;
                }
            }

            img {
                width: 100%;
            }

            > article {
                &:first-child {
                    width: 100%;
                    position: relative;
                    height: 0;
                    padding-top: 100%;
                    overflow: hidden;

                    @media (min-width: 1200px) {
                        position: static;
                        height: auto;
                        padding-top: 0;
                        overflow: auto;

                        max-height: 70vh;
                        position: relative;
                        height: 0;
                        padding-bottom: 70vh;
                        overflow: hidden;
                    }

                    img {
                        position: absolute;
                        top: 0;
                        left: 50%;
                        width: auto;
                        max-width: none;
                        margin: auto;
                        transform: translateX(-50%);
                        height: calc(100% - 80px);

                        @media (min-width: 1200px) {
                            position: static;
                            top: auto;
                            left: auto;
                            width: 100%;
                            max-width: 100%;
                            transform: none;
                            height: auto;

                            position: absolute;
                            height: 100%;
                            width: auto;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }

                button {
                    padding: 24px 0 40px;
                    margin: 0 auto;
                    width: 100%;
                    display: block;
                    text-align: center;
                    font-size: 22px;
                    text-decoration: underline;
                    background: none;
                    border: none;
                    cursor: pointer;
                }
                .container-zoom-in {
                    display: none;
                }
            }
            div.inner-data-container {
                padding: 0 10px;
                article {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-top: solid 1px black;
                    padding: 9px 0;
                    p {
                        font-size: 16px;
                        font-weight: 900;
                        text-transform: uppercase;
                    }
                    p:first-child {
                        font-size: 14px;
                        font-weight: 400;
                    }

                    &:last-child {
                        border-bottom: solid 1px;
                    }
                }
                @media (min-width: 1200px) {
                    // min-width: 460px;
                    // padding-right: 100px;
                    margin-bottom: 81px;
                    width: 340px;
                    min-width: 340px;
                    padding-right: 10px;
                }
            }
            @media (min-width: 1200px) {
                display: flex;
                flex-direction: row-reverse;
                // align-items: self-end;
                align-items: center;
                justify-content: center;
            }
        }
    }

    footer {
        position: relative;
        @media (min-width: 1200px) {
            position: fixed;
            // background-color: transparent;
        }
    }
}
body.single.zoom-in-open {
    overflow: hidden;
    main {
        section.section-product {
            article {
                .container-zoom-in {
                    display: block;
                    overflow: auto; /* Permitir desplazamiento si la imagen es más grande que el contenedor */
                    position: fixed;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    max-width: none;
                    max-height: none;
                    z-index: 2;

                    img {
                        min-width: 100%;
                        min-height: 100%;
                        width: auto;
                        height: auto;
                        max-width: 2500px;
                        max-height: none;
                        position: absolute;
                        display: block; /* Elimina el espacio adicional debajo de la imagen */
                        margin: 0 auto; /* Centra la imagen horizontalmente en el contenedor */
                    }
                }
            }
        }
    }

    p.exit {
        cursor: pointer;
        z-index: 5;
        position: fixed;
        z-index: 3;
        /* bottom: 0; */
        color: white;
        text-decoration: underline;
        font-size: 32px;
        // top: 550px;
        // left: 50%;
        // right: 0;
        // margin: auto;
        // transform: translateX(-19%);
        // @media (min-width: 1200px) {
            width: 100px;
            transform: none;
            left: 0;
            right: 0;
            margin: auto;
            text-align: center;
            text-shadow: -1px 2px 3px black;
            bottom: 50px;
        // }
    }

    footer {
        position: static;
    }
}

header section.back-btn {
    display: block;
}
