/* 
    Styles for Single
*/

body.single {
    main {
        section.section-product {
            img {
                width: 100%;
            }
            article {
                a {
                    padding: 24px 0 40px;
                    margin: 0 auto;
                    width: 100%;
                    display: block;
                    text-align: center;
                    font-size: 22px;
                    text-decoration: underline;
                }
            }
            div.inner-data-container {
                padding: 0 10px;
                article {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-top: solid 1px black;
                    padding: 9px 0;
                    p {
                        font-size: 16px;
                        font-weight: 900;
                        text-transform: uppercase;
                    }
                    p:first-child {
                        font-size: 14px;
                        font-weight: 400;
                    }

                    &:last-child {
                        border-bottom: solid 1px;
                    }
                }
                @media (min-width: 1200px) {
                    min-width: 460px;
                    padding-right: 100px;
                    margin-bottom: 81px;
                }
            }
            @media (min-width: 1200px) {
                display: flex;
                flex-direction: row-reverse;
                align-items: self-end;
                justify-content: center;
            }

          
        }
    }

    footer {
        position: relative;
        @media (min-width: 1200px) {
            // position: fixed;
            // background-color: transparent;
        }
    }
}


header section.back-btn {
    display: block; 
}