body.page-exhibitions {
	.main-exhibitions {
		.mobile {
			padding: 0 10px;
			margin: 0 auto;
			max-width: 360px;
			img {
				position: relative;
				&.extra {
					top: 10px;
					left: -18px;
				}
				&.arg {
					top: -50px;
					left: -28px;
				}
				&.br {
					top: -62px;
					left: 19px;
				}
				&.uk {
					top: -80px;
					left: -1px;
				}
				&.finlandia {
					top: -242px;
					left: 242px;
				}
				&.spain {
					top: -168px;
					left: 213px;
				}
			}
		}
	}

	.modals-inner-container {
		.modal-japan,
		.modal-kr,
		.modal-usa,
		.modal-br,
		.modal-uk,
		.modal-arg,
		.modal-finlandia,
		.modal-spain {
			display: none;
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
			padding-left: 25px;
			padding-right: 9px;
			.modal-title {
				p {
					font-size: 98px;
					color: white;
					font-weight: bold;
					text-align: right;
					padding-right: 30px;
					margin-top: -35px;
				}
				button {
					background: transparent;
					border: none;
					padding-top: 25px;
					padding-bottom: 0;
				}
			}
			.modal-youtube {
				min-height: 99.2px;
				p {
					font-size: 14px;
					color: white;
					padding-top: 13px;
					font-weight: 400;
				}
			}
			.modal-inner-info {
				margin-bottom: 25px;

			}
			.modal-info {
				padding-left: 27px;
				color: white;
				border-left: solid 1px white;
				margin-top: 34px;
				font-size: 14px;
				span {
					font-size: 25px;
					padding-bottom: 20px;
					display: block;
				}
			}
		}
	}

	&.modal-japan-open {
		.modals-inner-container {
			.modal-japan {
				display: block;
				background-color: $theme-japon;
			}
		}
	}
	&.modal-kr-open {
		.modals-inner-container {
			.modal-kr {
				display: block;
				background-color: $theme-korea;
			}
		}
	}
	&.modal-usa-open {
		.modals-inner-container {
			.modal-usa {
				display: block;
				background-color: $theme-usa;
				height: auto;
			}
		}
	}

	&.modal-br-open {
		.modals-inner-container {
			.modal-br {
				display: block;
				background-color: $theme-brasil;
				height: auto;
			}
		}
	}
	&.modal-uk-open {
		.modals-inner-container {
			.modal-uk {
				display: block;
				background-color: $theme-uk;
			}
		}
	}
	&.modal-arg-open {
		.modals-inner-container {
			.modal-arg {
				display: block;
				background-color: $theme-argentina;
			}
		}
	}
	&.modal-finlandia-open {
		.modals-inner-container {
			.modal-finlandia {
				display: block;
				background-color: $theme-finlandia;
			}
		}
	}
	&.modal-spain-open {
		.modals-inner-container {
			.modal-spain {
				display: block;
				background-color: $theme-espana;
			}
		}
	}
}
