body.page-exhibitions {
	ul.main-menu {
		padding-top: 80px;
		li:nth-child(2) {
			font-weight: bold;
		}
	}

	.main-exhibitions {
		font-family: "Archivo", sans-serif;
	}
	div.ul-inner-container {
		position: relative;
		ul.menu-countrys {
			display: none;
			@media (min-width: 1200px) {
				&.group-ul {
					display: block;
				}
				position: absolute;
				text-align: center;
				top: -53px;
				left: 59px;
			}
			li {
				cursor: pointer;
				margin-bottom: 10px;
				&:hover {
					font-weight: bold;
				}
			}
		}
	}
	.main-exhibitions {
		max-width: 1020px;
		margin: 0 auto;
		position: relative;
		.mobile,
		.desktop {
			padding: 0 10px;
			margin: 0 auto;
			max-width: 360px;
			position: relative;
			width: 100%;
			max-width: none;
			height: 0;
			padding-top: 59.69411765%;

			img {
				position: absolute;
				cursor: pointer;

				&.japan {
					top: 27.79%;
					left: 4px;
					width: 17.11%;
				}

				&.kr {
					top: 11.047059%;
					left: 18.523529%;
					width: 10.58823529%;
				}

				&.usa {
					top: 0;
					left: 30.8%;
					width: 29.4117%;
					&.solo {
						z-index: 3;
					}
				}

				&.extra {
					width: 37.05882353%;
					top: 10px;
					top: 2.941176471%;
					left: -18px;
					left: 56%;
					cursor: auto;
				}
				&.extra-big {
					width: 97%;
					top: -0.058824%;
					left: 2%;
					cursor: auto;
				}
				&.arg {
					top: -50px;
					top: -14.70588235%;
					top: 29.294118%;
					left: -28px;
					left: 40%;
					width: 42.64705882%;
				}
				&.br {
					top: -62px;
					top: 54.523529%;
					left: 19px;
					left: 6.941176%;
					width: 28.29705882%;
				}
				&.uk {
					top: -80px;
					left: -1px;
					top: 60.470588%;
					left: 30.705882%;
					width: 17.35294118%;
				}
				&.finlandia {
					width: 18.52941176%;
					top: -242px;
					left: 242px;
					top: 23.823529%;
					left: 71.17647059%;
				}
				&.spain {
					top: -168px;
					left: 213px;
					top: 45.588235%;
					left: 80.647059%;
					width: 18.52941176%;
				}
			}

			&.solo {
				display: none;
			}
		}
		article.desktop.solo-dk {
			display: none;
			position: absolute;
			top: 0;
		}
		article.desktop.group-dk {
			display: none;
			@media (min-width: 1200px) {
				display: block;
				position: absolute;
				top: 0;
			}
			img {
				width: 100%;
				top: 0;
				left: 0;
			}

			div {
				position: absolute;
				top: 0;
				left: 0;
				width: 1px;
				height: 1px;
				cursor: pointer;
				&:hover {
					img {
						display: none;
					}
				}
			}

			div {
				&.container-jpn {
					top: 166.9px;
					left: 2px;
					width: 179px;
					height: 149px;
				}
				&.container-kr {
					width: 107px;
					top: 65px;
					left: 189px;
					height: 250px;
				}
				&.container-usa {
					width: 296px;
					height: 316px;
					left: 316px;
				}
				&.container-br {
					width: 297px;
					height: 231px;
					top: 333px;
					left: 68px;
				}
				&.container-uk {
					width: 180px;
					height: 154px;
					top: 365px;
					left: 312px;
					z-index: 2;
				}
				&.container-arg {
					width: 436px;
					top: 178px;
					left: 407.9px;
					height: 436px;
				}
				&.container-fin {
					width: 190px;
					height: 121px;
					left: 727px;
					top: 144px;
				}
				&.container-spn {
					width: 192px;
					height: 207px;
					left: 822px;
					top: 276px;
				}
			}
		}

		.switch-btn {
			border-color: #3f3f3f;
			border-radius: 40px;
			border: solid 1px;
			width: fit-content;
			font-family: $theme-main-font;
			margin: 0 auto;
			margin-top: 30px;
			button {
				text-transform: uppercase;
				font-size: 18px;
				font-weight: 400;
				background-color: transparent;
				border: none;
				&:first-child {
					padding: 5px 15px;
					padding-right: 0;
				}
				&:nth-child(2) {
					border-radius: 40px;
					background-color: #3f3f3f;
					color: white;
					padding: 5px 15px;
				}
			}
		}
	}
	&.usa {
		.container-usa {
			img {
				display: none;
			}
		}
	}
	&.spain {
		.container-spn {
			img {
				display: none;
			}
		}
	}
	&.japan {
		.container-jpn {
			img {
				display: none;
			}
		}
	}
	&.arg {
		.container-arg {
			img {
				display: none;
			}
		}
	}
	&.uk {
		.container-uk {
			img {
				display: none;
			}
		}
	}
	&.kr {
		.container-kr {
			img {
				display: none;
			}
		}
	}
	&.br {
		.container-br {
			img {
				display: none;
			}
		}
	}
	&.finlandia {
		.container-fin {
			img {
				display: none;
			}
		}
	}

	&.solo-mode {
		div.ul-inner-container {
			ul.menu-countrys {
				@media (min-width: 1200px) {
					&.group-ul {
						display: none;
					}
					&.solo-ul {
						display: block;
						left: 95px;
					}
				}
			}
		}
		.main-exhibitions {
			.mobile.group {
				display: none;
			}
			.mobile.solo {
				display: block;
			}
			.switch-btn {
				button {
					background-color: transparent;
					border: none;
					&:first-child {
						border-radius: 40px;
						background-color: #3f3f3f;
						color: white;
						padding: 5px 15px;
					}
					&:nth-child(2) {
						padding: 5px 15px;
						padding-left: 0;
						color: #3f3f3f;
					}
				}
			}

			@media (min-width: 1200px) {
				article.desktop.group-dk {
					display: none;
				}
				article.desktop.solo-dk {
					display: block;
					.container-usa.usa,
					.container-spn.spain {
						position: absolute;
						top: 0;
						left: 0;
						width: 1px;
						height: 1px;
						cursor: pointer;
						&:hover {
							img {
								display: none;
							}
						}
					}
					div.container-usa.usa {
						width: 296px;
						height: 355px;
						left: 317px;
						img.usa.solo.dkp {
							width: 100%;
							left: -0.2%;
						}
					}
					div.container-spn.spain {
						width: 192px;
						height: 207px;
						left: 822px;
						top: 276px;
						img.spain.solo.dkp {
							width: 100%;
							left: -0.352941%;
							top: 0.588235%;
						}
					}
				}
			}
		}
	}

	.modals-inner-container {
		.modal-japan,
		.modal-kr,
		.modal-usa,
		.modal-br,
		.modal-uk,
		.modal-arg,
		.modal-finlandia,
		.modal-spain,
		.modal-usa-solo,
		.modal-spain-solo {
			display: none;
			position: fixed;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
			.modal-title {
				padding-left: 25px;
				p {
					font-size: 98px;
					color: white;
					font-weight: bold;
					text-align: right;
					padding-right: 30px;
					margin-top: -35px;
				}
				button {
					background: transparent;
					border: none;
					padding-top: 25px;
					padding-bottom: 0;
					cursor: pointer;
				}
			}
			.modal-youtube {
				min-height: 99.2px;
				img {
					padding-left: 25px;
					cursor: pointer;
				}
				p {
					font-size: 14px;
					color: white;
					padding-top: 13px;
					font-weight: 400;
					padding-left: 25px;
					padding-right: 9px;
					padding-bottom: 25px;
				}
				.swiper.generic-swiper {
					img {
						padding-left: 0;
					}
				}
			}
			.modal-inner-info {
				margin-bottom: 25px;
			}
			.modal-info {
				padding-left: 27px;
				margin-left: 25px;
				margin-right: 9px;
				color: white;
				border-left: solid 1px white;
				margin-top: 34px;
				font-size: 14px;
				span {
					font-size: 25px;
					padding-bottom: 20px;
					display: block;
				}
			}
		}
		
	}

	&.modal-japan-open {
		.modals-inner-container {
			.modal-japan {
				display: block;
				background-color: $theme-japon;
				position: absolute;
				top: -197px;
				height: auto;
				min-height: 1000px;
				left: 0;
				@media (min-width: 1200px) {
					background-color: rgba(255, 255, 255, 0.7);
					backdrop-filter: blur(3px);
					background-image: url("./img/mapas/desktop/modal/japan.svg");
					background-repeat: no-repeat;
					position: fixed;
					background-position-x: 0;
					left: 0;
					top: 0;


					.modal-title {
						position: relative;
						p {
							position: absolute;
							top: 421px;
							left: 159px;
						}
					}
					.modal-youtube {
						position: relative;
						img {
							position: absolute;
							top: 361px;
							left: 390px;
						}
						p {
							position: absolute;
							top: 410px;
							left: 390px;
						}
					}
					.modal-info {
						position: relative;
						.modal-manipulating-container-info {
							position: absolute;
							top: -95px;
							max-width: 40%;
							border-left: solid 1px;
							padding-left: 30px;
						}
					}
				}
			}
		}
	}
	&.modal-kr-open {
		.modals-inner-container {
			.modal-kr {
				display: block;
				background-color: $theme-korea;
				@media (min-width: 1200px) {
					left: 0;
					background-position-x: 267px;
					background-color: rgba(255, 255, 255, 0.7);
					backdrop-filter: blur(3px);
					background-image: url("./img/mapas/desktop/modal/kr.svg");
					background-repeat: no-repeat;
					.modal-title {
						position: relative;
						p {
							position: absolute;
							top: 320px;
							left: 440px;
						}
					}
					.modal-info {
						position: relative;
						.modal-inner-info {
							position: absolute;
							left: 318px;
							top: 237px;
							border-left: solid 1px;
							padding-left: 30px;
						}
					}
				}
			}
		}
	}
	&.modal-usa-open {
		.modals-inner-container {
			.modal-usa {
				display: block;
				background-color: $theme-usa;
				position: absolute;
				top: -197px;
				height: auto;
				min-height: 1000px;
				z-index: 3;
				@media (min-width: 1200px) {
					background-color: rgba(255, 255, 255, 0.7);
					backdrop-filter: blur(3px);
					background-image: url("./img/mapas/desktop/modal/usa.svg");
					background-repeat: no-repeat;
					position: fixed;
					background-position-x: 257px;
					left: 0;
					top: 0;
					.modal-title {
						position: relative;
						p {
							position: absolute;
							left: 630px;
							top: 135px;
						}
					}
					.modal-youtube {
						position: relative;
						img {
							position: absolute;
							left: 870px;
							top: 99px;
							display: block;
						}
						p {
							position: absolute;
							left: 870px;
							top: 152px;
						}
					}
					.modal-info {
						position: relative;
						.modal-manipulating-container-info {
							position: absolute;
							top: -140px;
							left: 268px;
							border-left: solid 1px;
							padding-left: 30px;
						}
					}
				}
			}
		}
	}
	&.modal-usa-solo-open {
		.modals-inner-container {
			.modal-usa-solo {
				display: block;
				background-color: $theme-usa;
				z-index: 4;
				position: absolute;
				top: -197px;
				height: auto;
				min-height: 1000px;
				left: 0;
				@media (min-width: 1200px) {
					left: 0;
					top: 0;
					background-color: rgba(255, 255, 255, 0.7);
					backdrop-filter: blur(3px);
					background-image: url("./img/mapas/desktop/modal/usa.svg");
					background-repeat: no-repeat;
					position: fixed;
					background-position-x: 257px;
					.modal-title {
						position: relative;
						p {
							position: absolute;
							left: 330px;
							top: 73px;
						}
					}
					.modal-youtube {
						position: relative;
						img {
							position: absolute;
							left: 870px;
							top: 99px;
						}
						p {
							position: absolute;
							left: 870px;
							top: 152px;
						}
					}
					.modal-info {
						position: relative;
						.modal-manipulating-container-info {
							position: absolute;
							top: 0;
							left: 268px;
							border-left: solid 1px;
							padding-left: 30px;
						}
					}
				}
			}
		}
	}

	&.modal-br-open {
		.modals-inner-container {
			.modal-br {
				display: block;
				background-color: $theme-brasil;
				position: absolute;
				top: -197px;
				height: auto;
				min-height: 1000px;
				@media (min-width: 1200px) {
					top: -123px;
					background-color: rgba(255, 255, 255, 0.7);
					backdrop-filter: blur(3px);
					background-image: url("./img/mapas/desktop/modal/br.svg");
					background-repeat: no-repeat;
					position: fixed;
					left: 0;
					top: -66px;
					.modal-title {
						position: relative;
						button {
							position: absolute;
							top: 70px;
						}
						p {
							position: absolute;
							left: 285px;
							top: 610px;
						}
					}
					.modal-youtube {
						position: relative;
						left: -180px;
						img {
							position: absolute;
							left: 870px;
							top: 99px;
						}
						p {
							position: absolute;
							left: 870px;
							top: 152px;
						}
					}
					.modal-info {
						position: relative;
						.modal-manipulating-container-info {
							position: absolute;
							top: -38px;
							left: 330px;
							border-left: solid 1px;
							padding-left: 30px;
							width: 22%;
						}
					}
				}
			}
		}
	}
	&.modal-uk-open {
		.modals-inner-container {
			.modal-uk {
				display: block;
				background-color: $theme-uk;
				@media (min-width: 1200px) {
					background-color: rgba(255, 255, 255, 0.7);
					backdrop-filter: blur(3px);
					background-image: url("./img/mapas/desktop/modal/uk.svg");
					background-repeat: no-repeat;
					background-position-x: 311px;
					background-position-y: 146px;
					left: 0;
					.modal-title {
						p {
							position: absolute;
							top: 488px;
							left: 537px;
						}
					}
					.modal-info {
						position: absolute;
						top: 300px;
						left: 400px;
					}
				}
			}
		}
	}
	&.modal-arg-open {
		.modals-inner-container {
			.modal-arg {
				display: block;
				background-color: $theme-argentina;
				position: absolute;
				top: -197px;
				height: auto;
				min-height: 1000px;
				@media (min-width: 1200px) {
					top: -123px;
					background-color: rgba(255, 255, 255, 0.7);
					backdrop-filter: blur(3px);
					background-image: url("./img/mapas/desktop/modal/arg.svg");
					background-repeat: no-repeat;
					position: fixed;
					left: 0;
					top: 0;
					background-position-y: -21px;
					.modal-title {
						position: relative;
						p {
							position: absolute;
							left: 785px;
							top: 610px;
						}
					}
					.modal-youtube {
						position: absolute;
						left: 990px;
						top: 594px;
					}
					.modal-info {
						position: relative;
						div.first-block {
							position: absolute;
							top: 251px;
							left: 36px;
							border-left: solid 1px;
							padding-left: 30px;
						}
						div.snd-block {
							position: absolute;
							left: 400px;
							border-left: solid 1px;
							padding-left: 30px;
							top: -31px;
						}
						div.thd-block {
							position: absolute;
							left: 822px;
							top: -40px;
							width: 17%;
							border-left: solid 1px;
							padding-left: 30px;
						}
					}
				}
			}
		}
	}
	&.modal-finlandia-open {
		.modals-inner-container {
			.modal-finlandia {
				display: block;
				background-color: $theme-finlandia;
				position: absolute;
				top: -197px;
				height: auto;
				min-height: 1000px;
				left: 0;
				@media (min-width: 1200px) {
					background-color: rgba(255, 255, 255, 0.7);
					backdrop-filter: blur(3px);
					background-image: url("./img/mapas/desktop/modal/fin.svg");
					background-repeat: no-repeat;
					left: 0;
					background-position-x: 500px;
					background-position-y: 207px;
					.modal-title {
						position: relative;
						p {
							position: absolute;
							left: 964px;
							top: 329px;
						}
					}
					.modal-youtube {
						position: relative;
						img {
							position: absolute;
							left: 870px;
							top: 99px;
						}
						p {
							position: absolute;
							left: 870px;
							top: 152px;
						}
					}
					.modal-info {
						position: relative;
						.modal-manipulating-container-info {
							position: absolute;
							top: 120px;
							left: 568px;
							border-left: solid 1px;
							padding-left: 30px;
						}
					}
				}
			}
		}
	}
	&.modal-spain-open {
		.modals-inner-container {
			.modal-spain {
				display: block;
				background-color: $theme-espana;
				z-index: 3;
				@media (min-width: 1200px) {
					background-color: rgba(255, 255, 255, 0.7);
					backdrop-filter: blur(3px);
					background-image: url("./img/mapas/desktop/modal/spain.svg");
					background-repeat: no-repeat;
					left: 0;
					background-position-x: 373px;
					background-position-y: -110px;
					.modal-title {
						p {
							position: absolute;
							left: 851px;
							top: 471px;
							transform: rotate(26deg);
						}
					}
					.modal-youtube {
						position: absolute;
						left: 1020px;
						top: 336px;
					}
					.modal-info {
						position: absolute;
						left: 811px;
						top: 219px;
					}
				}
			}
		}
	}
	&.modal-spain-solo-open {
		.modals-inner-container {
			.modal-spain-solo {
				display: block;
				background-color: $theme-espana;
				z-index: 4;
				position: absolute;
				top: -197px;
				height: auto;
				min-height: 1000px;
				left: 0;
				@media (min-width: 1200px) {
					background-color: rgba(255, 255, 255, 0.7);
					backdrop-filter: blur(3px);
					background-image: url("./img/mapas/desktop/modal/spain.svg");
					background-repeat: no-repeat;
					left: 0;
					background-position-x: 373px;
					background-position-y: -110px;
					top: 0;
					position: fixed;
					.modal-title {
						p {
							position: absolute;
							left: 851px;
							top: 471px;
							transform: rotate(26deg);
						}
					}
					.modal-youtube {
						position: absolute;
						left: 1020px;
						top: 336px;
					}
					.modal-info {
						position: absolute;
						left: 420px;
						top: 54px;
					}
				}
			}
		}
	}

	section.swiper.generic-swiper {
		@media (min-width: 1200px) {
			max-width: 1000px;
		}
		position: relative;
		div.content-div {
			position: absolute;
			left: 20%;
			border: 60%;
			width: 65%;
			z-index: 3;
			bottom: 21%;
			// hasta acá es lo que necesito
			right: 0;
			margin-left: 0;
			margin-right: 0;
			top: auto;

			@media (min-width: 550px) {
				width: 66%;
				left: 20%;
			}
		}

		.swiper-horizontal > .swiper-pagination-bullets,
		.swiper-pagination-bullets.swiper-pagination-horizontal {
			bottom: 0;
			left: 0;
			width: 100%;
			transform: rotate(0);
			top: auto;
		}
		.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
		.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
			margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 2px);
		}
	}

	section.swiper.generic-swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
		height: 0;
		-moz-transition: 1s;
		-webkit-transition: 1s;
		-o-transition: 1s;
		transition: 1s;
		overflow: hidden;
	}

	&.galery-open {
		section.swiper.generic-swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
			height: 745px;
			max-height: 70vh;
			padding-bottom: 30px;
		}
		
	}
}
