/*
    Styles for Home
*/

body.page-home {
    margin: 0;
    overflow: hidden;
    cursor: pointer;
    h1 {
        position: relative;
        z-index: 4;
    }
    h2 {
        display: none;
    }
    .back-btn {
        display: none;
    }
    section.home {
        p {
            padding: 0 20px 40px;
            text-align: center;
            position: relative;
            z-index: 4;
            font-size: 14px;
            text-transform: uppercase;
            @media (min-width: 1200px) {
                padding: 24px 0 40px;
                max-width: 600px;
                margin: 0 auto;
                font-size: 18px;
            }
        }
    }

    img {
        width: 240px;
    }
}
