/**
 * Main Styles for theme.
 */

// sass --watch main.scss ../style.min.css --style=compressed

$breakpoint-mobile: 340px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-wide: 1500px;

$theme-yellow:     #EBFF00;
$theme-light-gray: #F2F2F2;
$theme-dark-gray:  #D9D9D9;
$theme-black:      black;

$theme-no-select:  #F9FFB8;
$theme-usa:        #DC49DC;
$theme-espana:     #5E5BF8;
$theme-argentina:  #00D930;
$theme-japon:      #F1511E;
$theme-korea:      #5A319D;
$theme-brasil:     #FDA014;
$theme-finlandia:  #71A8E9;
$theme-uk:         #C8297F;


$theme-main-font: 'Chivo Mono', monospace;

/* Max-width */
$max-width-1: 700px;
$max-width-2: 1200px;

$img-directory: "img/";

/* Mixins */
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Media queries */
@mixin media-mobile {
    @media screen and(max-width: $breakpoint-mobile) {
        @content;
    }
}

@mixin media-tablet{
    @media screen and (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin media-desktop{
    @media screen and (min-width: $breakpoint-desktop) {
        @content;
    }
}

@mixin media-wide{
    @media screen and (min-width: $breakpoint-wide) {
        @content;
    }
}


@import 'normalize';
@import 'fonts';
@import 'skeleton';
@import 'mixin';
@import 'header';
@import 'footer';
@import 'publications';
@import 'exhibitions';
@import 'single';
@import 'home';
@import 'post-custom';
@import "boxicons";
@import "swiper-bundle";
@import "swiper-custom";
@import "swiper";
