body.page-paintings,
body.page-clothes {
    font-family: "Chivo Mono", monospace;
    main {
        section.titles {
            @include titles-pages;
        }

        section.back-btn {
            @include back-btn();
        }
        section.card-product {
            width: 300px;
            height: 420px;
            margin: 0 auto;
            margin-bottom: 60px;
            p {
                font-size: 32px;
                padding-top: 24px;
                text-align: center;
            }
            img.painting-img.wp-post-image,
            img.cloth-img.wp-post-image  {
                width: 100%;
            }
            @media (min-width: 1200px) {
                filter: blur(1.5rem);
            }
        }
        section.card-product:hover {
            @media (min-width: 1200px) {
                filter: blur(0);
            }
        }


        div.cards-inner-container {
            @media (min-width: 1200px) {
                width: 948px;
                margin: auto;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}
