body.page-paintings,
body.page-clothes {
    font-family: "Chivo Mono", monospace;
    main {
        section.titles {
            @include titles-pages;
        }

        section.back-btn {
            @include back-btn();
        }
        section.card-product {
            width: 300px;
            height: 420px;
            margin: 0 auto;
            margin-bottom: 60px;

            @media (min-width: 1200px) {
                filter: blur(1.5rem);
            }

            a {
                display: block;
                width: 100%;
                padding-top: calc(100% + 80px);
                position: relative;
                overflow: hidden;

                p {
                    font-size: 32px;
                    padding-top: 24px;
                    text-align: center;

                    position: absolute;
                    bottom: 0;
                    width: 100%;
                }

                img.painting-img.wp-post-image,
                img.cloth-img.wp-post-image {
                    width: 100%;

                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: auto;
                    max-width: none;
                    margin: auto;
                    transform: translateX(-50%);
                    height: calc(100% - 80px);
                }
            }
        }

        section.card-product:hover {
            @media (min-width: 1200px) {
                filter: blur(0);
            }
        }

        div.cards-inner-container {
            @media (min-width: 1200px) {
                width: 948px;
                margin: auto;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}
