body {
	&.page-publications {
		div.three-book-title {
			padding-top: 20px ;
		}
		div.one-book-content,
		div.two-book-content,
		div.three-book-content,
		div.four-book-content,
		div.five-book-content,
		div.six-book-content,
		div.seven-book-content,
		div.eight-book-content,
		div.nine-book-content {
			height: 0;
			transition: 1s;
			overflow: hidden;

			&.book-open {
				height: 200px;
				background-color: red;
			}
		}
	}
}
