body {
	&.page-publications {
		font-family: "Chivo Mono", monospace;
		main {
			padding-top: 0;
		}

		section.titles {
			@include titles-pages;
		}

		section.back-btn {
			@include back-btn();
		}

		.book-publications {
			display: none;

			@media (min-width: 1200px) {
				display: block;
				height: 525px;
			}
		}
		section.library {
			border-bottom: solid 1px;
		}
		h3 {
			font-size: 32px;
			font-weight: 400;
			padding-bottom: 18px;
		}

		.info-book-inner-container {
			font-size: 18px;
			margin-bottom: 20px;
			p, a, span, img {
				display: block;
			}
		
			a {
				padding-bottom: 18px;
			}

			img {
				padding-bottom: 13px;
				@media (min-width: 1200px) {
					min-width: 600px;
				}
			}
		}

		div.one-book-content,
		div.two-book-content,
		div.three-book-content,
		div.four-book-content,
		div.five-book-content,
		div.six-book-content,
		div.seven-book-content,
		div.eight-book-content,
		div.nine-book-content {
			height: 0;
			transition: 1s;
			overflow: hidden;
			&.book-open {
				height: 352px;
				background-color: $theme-yellow;
				border: solid 1px;
				border-bottom: none;
				padding-left: 10px;
				padding-right: 10px;
				img {
					@media (min-width: 1200px) {
						max-width: 600px;
					}
				}
			}
			div.titles-inner-container {
				display: flex;
				align-items: end;
				justify-content: space-between;
				padding-top: 18px;
				text-transform: uppercase;
			
			}

			p {
				text-align: left;
				font-size: 18px;
				font-weight: 400;
				padding: 16px 0;
				&.pdf-link {
					text-transform: uppercase;
					text-decoration: underline;
					padding-bottom: 0;
				}
			}
		}

		div.one-book-content {
			&.book-open {
				height: 1180px;
			}
		}
		div.two-book-content {
			&.book-open {
				height: 525px;
			}
		}
		div.three-book-content {
			&.book-open {
				height: 525px;
			}
		}
		div.four-book-content {
			&.book-open {
				height: 525px;
			}
		}
		div.five-book-content {
			&.book-open {
				height: 425px;
			}
		}
		div.six-book-content {
			&.book-open {
				height: 1180px;
			}
			@media (min-width: 1200px) {
				max-width: 630px;
			}
		}

		div.one-book-title,
		div.two-book-title,
		div.three-book-title,
		div.four-book-title,
		div.five-book-title,
		div.six-book-title,
		div.seven-book-title,
		div.eight-book-title,
		div.nine-book-title {
			border: solid 1px;
			border-bottom: none;
			border-color: $theme-black;
			font-size: 18px;
			text-transform: uppercase;
			font-weight: 200;
			p {
				text-align: center;
				padding-top: 4px;
				padding-bottom: 4px;
				padding-left: 4px;
			}
			span {
				text-align: left;
				display: block;
				margin-bottom: -20px;
			}
		}

		section.library {
			@media (min-width: 1200px) {
				// transform: rotate(90deg); /* Gira el bloque 90 grados a la derecha */
				// max-width: 100vh;
				height: auto;
				display: flex;
				justify-content: right;
				min-height: 600px;
				align-items: flex-end;
				article.library-inner-element {
					// width: 50px;
					height: 600px;
					display: flex;

					div.book-content {
						width: 0;
						height: auto;
						transition: none;

						&.book-open {
							width: 100%;
							height: auto;
							border-bottom: solid 1px;
							transition: 1s ease all;
							@media (min-width: 1200px) {
								overflow: auto;
							}
						}
					}

					div.book-title {
						border-bottom: solid 1px;
						cursor: pointer;

						p {
							writing-mode: vertical-rl;
							position: relative;
							padding-top: 70px;
							width: 40px;
							line-height: 40px;

							span {
								writing-mode: horizontal-tb;
								display: block;
								position: absolute;
								top: 0;
								width: 40px;
								left: 0;
								text-align: center;
							}
						}
					}
				}
			}
		}
	}
	div.book-title.six-book-title {
		border-bottom: solid 1px;
	}
}
